body {
	background-color: rgba(255, 0, 0, 0.4);
}

h3 {
	font-weight: bold;
	font-family: arial;
	font-size: 80px;
}

input {
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#content {
	text-align: center;
}